
body {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: tan;
}

h1 {
    text-align: center;
    font-size: 50px;
    background-color: palegoldenrod;
    border-radius: 5px;
}

h2{
    background-color: palegoldenrod;
    padding-left: 10px;
    display: inline-block;
    margin-right: 100000px;
    padding: 5px;
    border-radius: 5px;
}

ul{
    background-color: orange;
    border-radius: 10px;
    margin: auto;
    margin-right: 100000px;
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
}

img {
    height: 200px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

img.lions {
    width: 357px;
    height: 200px;
}

img.alligators {
    width: 357px;
}

footer {
    margin-top: 50px;
}

a {
    color:black;
    background-color: darkred;
    padding: 5px;
    border-radius: 5px;
    padding-top: 2px;
}